section.mainAdvent
	.container
		h2!="Выгоды интеграции <b>«Mind-sales»</b> и <b>«IP телефонии»</b>"
		.percent
			span.number="100%"
			span.text="Статистика по звонкам"
		h3="Благодаря системе вы всегда будете знать:"	
		.list
			.index
				span="1"
			.value="Как поговорили с клиентом. Запись и хранение звонков."
		.list
			.index
				span="2"
			.value="Сколько было входящих звонков."
		.list
			.index
				span="3"
			.value="Сколько пропущенных. И каким клиентам перезвонили."
		.list
			.index
				span="4"
			.value="Формирование клиентской базы. Менеджеры заполняют профиль каждого клиента."
		h4.link
			span="Переадресация"		
		.list
			.index
				span="5"
			.value="Если менеджер по продажам не подымает трубку в течении 8 сек, то система автоматически переадресует входящий звонок на руководителя."
		h4.link.ad
			span="Сокращения пустых трат на рекламу"
		.list
			.index
				span="6"
			.value="Система автоматически определяет с какого рекламного источника вам звонит клиент."