section.statistics
	header
		h3="Статистика"
		h4="Автоматическое формирование статистики"
	footer
		.container
			.stats_elem
				.icon
				.text="Точная статистика благодаря исключению человеческого фактора. "
			.stats_elem
				.icon.icon_2
				.text="Ваши сотрудники не тратят 15% оплаченного времени на ежедневные отчеты создавая их в ручную. "
			.stats_elem
				.icon.icon_3
				.text="В систему Mindpro-CRM можно добавлять любые модули для сбора информации от клиентов."